<style>
.nav_top
{
	position:fixed;
	top:0;
    background-color:#336699;
    display:flex;
    flex-wrap:wrap;
	width:100%;
	color:white;
	justify-content:center;
	height:75px;z-index:2;
}
.nav_top .nav_top_ele
{
	font-size:3em;
	margin-top:6px;
	font-family:Bookman Old Style;
	color:#FCE4EC;
	font-weight:bold;
}
.nav_top .nav_top_button
{
	position:absolute;
	background-color:#28B463;color:#FCE4EC;font-weight:bold;outline:none;
	height:50px;width:80px;float:right;margin-left:80%;margin-top:10px;cursor:pointer;
	transition:all 500ms;border-radius:10px 10px 10px 10px;
}
.nav_top .nav_top_button:hover
{
	opacity:0.9;background-color:#FCE4EC;color:#1ABC9C;
}
.nav_top_img .first_img
{
	position:absolute;
	width:75px;
	height:75px;
	left:0;
}
.first_down
{
	height:75px;
}
</style>
<script>
window.history.forward();
if (!navigator.onLine) {
window.location.href = '/';
}
history.go(1);
window.onload = window.history.forward(0);
window.history.forward(); function noBack() { window.history.forward(); }
function blk_bk() {if (!navigator.onLine) {
window.location.href= "/";
}
}
history.go(1);</script>
{% load static %}<div class="nav_top"><div class="nav_top_img"><a href="javascript:void(0);" onclick="window.location.href='{% url 'home' %}'"><img src="{% static 'Photos/Icon.ico' %}" class="nav_top_img first_img"></a></div>
<div class="nav_top_ele">Second Details Entry Portal</div><button class="nav_top_button" id="log_first" onclick="window.location.href='{% url 'login1' %}';">Login</button></div>
<div class="first_down"></div>